@font-face {
    font-family: "JacquardBastard";
    src: url('../assets/fonts/JacquardaBastarda9-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PlaywriteDEGrud";
    src: url('../assets/fonts/PlaywriteDEGrund-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}
