@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.results{
    background-image: url("../../assets//images/quiz-background.jpg");
    background-size: cover;

    &__content{
        width: 80%;
        height: 100vh;
        gap: .625rem;
        @include flex-column-align-center;  
        background-color: rgba(255, 255, 255, 0.8); 
        padding: 10rem 5rem 15rem 5rem; 
        border-radius: .5rem; 
        max-width: 31.25rem; 
        margin: auto;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2); 
    }
    &__title{
        @include welcome-header;
        margin-bottom: 1.875rem;

    }
    &__total{
        @include body-large;
    }
    &__hearts{
        display: flex;
        flex-direction: row;
        gap: .625rem;
        margin-bottom: 1.875rem;
    }
    &__heart{
        width: 2.5rem;
        height: 2.5rem;
        transition: transform 0.3s ease;
    }
    &__heart.animated{
        animation: blink 0.5s infinite alternate;
        @keyframes blink {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0.5;
            }
        }
    }
    &__btn{
        background-color: $orange;
        border-radius: .25rem;
        border: none;
        color: $primary-light;
        padding: .625rem 1.25rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        @include labels-links-buttons;

        &:hover{
            background-color: $brown;
        }
    }
    @include tablet{
        &__title{
            @include dt-welcome-header;
            margin-bottom: 1.875rem;
        }
        &__total{
            @include dt-body-large;
        }
        &__heart{
            width: 3.5rem;
            height: 3.5rem;
        }
        &__btn{
            padding: 1rem 2rem;
            @include labels-links-buttons;
        }
    }
    @include desktop{
        &__content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            @include dt-welcome-header;
            margin-bottom: 1.875rem;
        }
        &__total{
            @include dt-body-large;
        }
        &__heart{
            width: 3.5rem;
            height: 3.5rem;
        }
        &__btn{
            padding: 1rem 2rem;
            @include labels-links-buttons;
        }

    }
}